meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='edge,chrome=1')
title web title
meta(name='description', content='')
meta(name='viewport', content='width=640')

// Schema.org markup for Google+
meta(itemprop="name" content="")
meta(itemprop="description" content="")
meta(itemprop="image" content="指定顯示圖片")

// og
meta(property="og:title" content="title")
meta(property="og:description" content="desc")
meta(property="og:url" content="http://www.example.com/")
meta(property="og:site_name" content="Friendo 粉多任務")
meta(property="og:type" content="article")
meta(property="og:image" content="指定顯示圖片")

//- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
link(rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css")
link(rel='stylesheet', href='css/main.css')
	
<!--CDN link for  TweenMax-->
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/0.4.3/mobile-detect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="main.js"></script>



