extends _layout.jade

block page_main
	//- section.index
	//- 	div.index__hd
	//- 	div.index__bd
	//- 		div#animate-canvas.animate-canvas
	//- 			- for (var x = 0; x < 32; x++)
	//- 				div.animate-canvas__item.js-item
	//- 					div.box

	//- 		div.index__content
	//- 			div.l-container
	//- 				div.l-vm
	//- 					div.l-vm__content
	//- 						p 灰色區塊內垂直置中	
	//- 	div.index__ft

